<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron ">

    <div class="text-center">
      <h3>Contact List</h1>
    </div>
    <p class="animated infinite">
      <button type="button" class="btn btn-lg btn-success" ng-click="createNewContact()">Create New Contact</button>
    </p>

    <table class="table">
      <thead>
        <tr>
          <td>
            <b>Version </b>
          </td>
          <td>
            <b>Title</b>
          </td>
          <td>
            <b>FirstName</b>
          </td>
          <td>
            <b>LastName</b>
          </td>
          <td>
            <b>Email</b>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in contactList">
          <td>{{ x.Version }}</td>
          <td>{{ x.Title }}</td>
          <td>{{ x.FirstName }}</td>
          <td>{{ x.LastName }}</td>
          <td>{{ x.Email }}</td>

          <td>
              <button type="button" class="btn btn-sm btn-primary" ng-click="contactDetails(x.Id)">Details</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteContact(x.Id);">Delete</button>
            <button type="button" class="btn btn-sm btn-success" ng-click="editContact(x.Id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>



</div>